

.table-title{
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 10px;
}






.table-1{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    width: 60%;
    
}

.table-price{
    width: 65%;

   


  
}

.table-subtitle{
    padding: 0 45px 0 0;
    flex-shrink: 1;
    
}